In [1]:
from hook import execute
import  database_handler  
import pandas as pd
import lookups
from data_handler import read_data_as_dataframe
from read_datasets import read_dataset_and_return_as_df

In [4]:
 
db_session = database_handler.create_connection('config.json')
read_dataset_and_return_as_df(db_session)
db_session.commit()

DataFrame for countries:
     Country_Territory   Rank Code           Capital Continent  Population  \
0          Afghanistan   36.0  AFG             Kabul      Asia    41128771
1              Albania  138.0  ALB            Tirana    Europe     2842321
2              Algeria   34.0  DZA           Algiers    Africa    44903225
3       American Samoa  213.0  ASM         Pago Pago   Oceania       44273
4              Andorra  203.0  AND  Andorra la Vella    Europe       79824
..                 ...    ...  ...               ...       ...         ...
229  Wallis and Futuna  226.0  WLF          Mata-Utu   Oceania       11572
230     Western Sahara  172.0  ESH         El AaiÃºn    Africa      575986
231              Yemen   46.0  YEM             Sanaa      Asia    33696614
232             Zambia   63.0  ZMB            Lusaka    Africa    20017675
233           Zimbabwe   74.0  ZWE            Harare    Africa    16320537

     Area_per_km²  Density_per_km²  Growth_Rate
0          652230          63.0587       1.0257
1           28748          98.8702       0.9957
2         2381741          18.8531       1.0164
3             199         222.4774       0.9831
4             468         170.5641       1.0100
..            ...              ...          ...
229           142          81.4930       0.9953
230        266000           2.1654       1.0184
231        527968          63.8232       1.0217
232        752612          26.5976       1.0280
233        390757          41.7665       1.0204

[234 rows x 9 columns]