In [2]:
import database_handler
db_session = database_handler.create_connection(None)

In [3]:
import data_handler

film_dataframe = data_handler.returns_query_as_dataframe(db_session, 'SELECT * FROM dvd_rental.film')

d:\Workspace\USJ\etl_project_2\data_handler.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return_dataframe =  pd.read_sql_query(sql_query, db_session)

In [8]:
import lookups
import pandas_handler
filtered_dataframe = pandas_handler.return_filtered_dataframe(film_dataframe, lookups.FilterFields.RENTAL_RATE,4.99)

In [9]:
filtered_dataframe

Empty DataFrame
Columns: [film_id, title, description, release_year, language_id, rental_duration, rental_rate, length, replacement_cost, rating, last_update, special_features, fulltext]
Index: []